<footer class="footer" >
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer-text">
            <!-- <img src="./assets/wonders/xxxxxx.png" height="auto" width="70%"  alt=""> -->
            <h5>About Us</h5>
  
            <p>Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
            

            
          </div>
          <br>
          <div class="footer-text">
            <h5>Socials</h5>
            <div class="footer-socials" style="display: flex; gap: 20px;">
              <a href="">
                <svg width="35" height="35" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M44 24C44 12.96 35.04 4 24 4C12.96 4 4 12.96 4 24C4 33.68 10.88 41.74 20 43.6V30H16V24H20V19C20 15.14 23.14 12 27 12H32V18H28C26.9 18 26 18.9 26 20V24H32V30H26V43.9C36.1 42.9 44 34.38 44 24Z" fill="white"/>
                </svg>
                  
              </a>
              <a href="">
                <svg width="35" height="35" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 6C10.478 6 6 10.478 6 16V32C6 37.522 10.478 42 16 42H32C37.522 42 42 37.522 42 32V16C42 10.478 37.522 6 32 6H16ZM36 10C37.104 10 38 10.896 38 12C38 13.104 37.104 14 36 14C34.896 14 34 13.104 34 12C34 10.896 34.896 10 36 10ZM24 14C29.522 14 34 18.478 34 24C34 29.522 29.522 34 24 34C18.478 34 14 29.522 14 24C14 18.478 18.478 14 24 14ZM24 18C22.4087 18 20.8826 18.6321 19.7574 19.7574C18.6321 20.8826 18 22.4087 18 24C18 25.5913 18.6321 27.1174 19.7574 28.2426C20.8826 29.3679 22.4087 30 24 30C25.5913 30 27.1174 29.3679 28.2426 28.2426C29.3679 27.1174 30 25.5913 30 24C30 22.4087 29.3679 20.8826 28.2426 19.7574C27.1174 18.6321 25.5913 18 24 18Z" fill="white"/>
                  </svg>
                  
                  
              </a>
              <a href="">
                <svg width="35" height="35" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 4V8H19.0898C17.7138 8 17.0221 9.66272 17.9961 10.6367L22.9062 15.5469C23.5082 16.1489 24.4918 16.1489 25.0938 15.5469L30.0039 10.6367C30.9779 9.66272 30.2862 8 28.9102 8H26V4H22ZM8 8C5.79 8 4 9.79 4 12V36C4 38.21 5.79 40 8 40H40C42.21 40 44 38.21 44 36V12C44 9.79 42.21 8 40 8H36C35.47 8 34.9599 8.20994 34.5859 8.58594C33.3259 9.84594 34.218 12 36 12H40V16.0039L25.043 25.3477C24.405 25.7457 23.597 25.7457 22.957 25.3477L8 16.0039V12H12C13.782 12 14.6741 9.84594 13.4141 8.58594C13.0401 8.20994 12.53 8 12 8H8Z" fill="white"/>
                  </svg>
                  
                  
              </a>
              
            </div>
  
            <br>
            <br>
          </div>
          <div class="footer-text">
            <h5>We accept payments via</h5>

            <div class="img-icons">
              <img src="./assets/wonders/gcash.png" height="auto" width="20%"  alt="">
              <img src="./assets/wonders/paymaya.png" height="auto" width="20%"  alt="">
              
            </div>
            <div class="img-icons">
              <img src="./assets/wonders/mastercard.png" height="auto" width="50%"  alt="">

            </div>
          </div>
  
        </div>
        <div class="col">
          <div class="footer-text">
            <h5>Address</h5>
  
            <p> <a href="https://www.google.com/maps/dir//365+Wonders+Booking+Reservations+Service/data=!4m8!4m7!1m0!1m5!1m1!1s0x33bd0563e60bb55f:0x6d8bcd94dccdac81!2m2!1d121.05255729999999!2d13.769402099999999">Unit 3 ADEE Bldg Purok 1, Brgy. Bolbok Batangas City 4200 Philippines</a> </p>
            
          </div>
          <br>
          <br>
  
          <div class="footer-text">
            <h5>Don’t Wait Any Longer. Contact Us!</h5>
  
            <p><a href="tel:+63-915-780-0776">0915 780 0776</a> / 0929 262 0985 /  | Customer Support</p>
  
            
          </div>
          <br>
          <br>
  
          <div class="footer-text">
            <h5>Business Hours</h5>
  
            <ul class="d-flex gap-20" style="list-style: none; padding: 0;">

              <li><p>Mon: 9AM – 8PM</p></li>
              <li><p>Tue: 9AM – 8PM</p></li>
              <li><p>Wed: 9AM – 8PM</p></li>
              <li><p>Thu: 9AM – 8PM</p></li>
              <li><p>Fri: 9AM – 8PM</p></li>
              <li><p>Sat: 9AM – 5PM</p></li>

             
              <li><p>Sun: Closed</p></li>
            </ul>
  
            
          </div>
          
        </div>
  
  
      </div>
      
    
  
      <div class="row">
        
        <small style="text-align: center; margin-top: 50px;">Copyright 2022 - 365Wonders-All rights Reserved</small>
  
  
        
        
  
        
      </div>
    </div>
  </footer>