<header (scroll)="onscroll()" 
[ngClass]="navbarfixed ? 'fixed' : 'nofixed'" id="header">


    <div class="container" >
        <div class="row ">
            <div class="col-lg-12 ">

                <nav class="navbar navbar-expand-lg" >
                    <a href="" class="logos">
                        <img src="./assets/wonders/xxxxxx.png"  alt="">

                    </a>

                    <ul class="nav-items" id="nav-items" style="margin: 0;">
                        <div class="menu">
                            <button type="button" (click)="toggle()" class="menu-btn close-btn">
                                <i class="uil uil-multiply"></i>
    
                            </button>

                        </div>
                        <li ><a routerLink="/home" routerLinkActive="active">HOME</a></li>
                        
                        <li><a routerLink="/services" routerLinkActive="active">SERVICES</a></li>
                        <li><a routerLink="/tours" routerLinkActive="active">TOURS</a></li>
                        <li><a routerLink="/booking" routerLinkActive="active">BOOKING</a></li>
                        <li><a routerLink="/contact-page" routerLinkActive="active"><i class="uil uil-phone"></i>CONTACT US</a></li>
                        <li><a href="https://www.google.com/maps/dir//365+Wonders+Booking+Reservations+Service/data=!4m8!4m7!1m0!1m5!1m1!1s0x33bd0563e60bb55f:0x6d8bcd94dccdac81!2m2!1d121.05255729999999!2d13.769402099999999" target="_blank"><i class="uil uil-arrows-up-right"></i>GET DIRECTIONS</a></li>

                       <li>
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle"   style="margin: 0; padding: 0; color: var(--red);" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            
                            </button>
                            <ul style="margin: 0;" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" routerLink="/about-us">About</a></li>
                              <li><a class="dropdown-item" href="#">Report</a></li>
                              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Admin Panel</a></li>
                            </ul>
                          </div>
                       </li>



                        
                        
                    </ul>
                    <div class="menu">
                        <button type="button" class="menu-btn" (click)="toggle()">
                            <i class="uil uil-list-ui-alt"></i>

                        </button>
                    </div>


                </nav>

            </div>
            
            

        </div>
    </div>

</header>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
         
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-admin-login></app-admin-login>
    
        </div>
       
      </div>
    </div>
  </div>