<app-header></app-header>

<section class="blur" style="position: relative" id="blur">
  <header class="book-header">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="h1-responsive">
            <span style="font-weight: 200">Book Your</span>
            <br />
            Adventure
          </h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <!-- <img class="img-fluid bg-image" src="./assets/wonders/xxxxxx.png"   alt=""> -->

    <div class="header-wrap">
      <h2 class="h1-responsive font-weight-bold my-4">Booking Inquiry Form</h2>

      <p class="w-responsive mx-auto mb-5">
        Once we receive the filled form, we will contact you shortly to confirm
        booking.
      </p>
    </div>
    <hr style="width: 100px; border: 5px solid #c01b1e" />

    <div class="row">
      <div class="col-md-9 mb-md-0 mb-5">
        <form id="contact-form" name="contact-form">
          <div class="row my-3">
            <div class="col-md-3">
              <div class="md-form mb-0">
                <select
                class="form-select"
                [(ngModel)]="subject"
                name="subject"
                id="subject"
                (click)="type()"
      
                
              >
                <option selected>Select</option>
                <option value="Flight">Flight</option>
                <option value="Tour Package">Tour Package</option>
              </select>
      
              </div>
            </div>
            
            
            <label for="appointmentFor">Booking type:</label>
          </div>
          <div class="row " id="package">
            <div class="col-md-3">
              <div class="md-form mb-0">
                <a style="cursor: pointer; color: red;" routerLink="/tours">Check out our Tour Packages</a>
      
              </div>
            </div>
            
            
           
          </div>
          <div class="row my-4">
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input
                  type="text"
                  id="name"
                  name="name"
                  [(ngModel)]="fullname"
                  class="form-control"
                  placeholder="ex: Juan Dela Cruz"
                />
                <label for="name" class="label">Your name</label>
              </div>
            </div>
            <br />
            <br />

            <br />

            <div class="col-md-6">
              <div class="md-form mb-0">
                <input
                  type="text"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="ex: juan@gmail.com"
                  [(ngModel)]="email"
                />
                <label for="email" class="">Your email</label>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input
                  type="text"
                  id="mobile"
                  name="mobile"
                  class="form-control"
                  placeholder="09*********"
                  [(ngModel)]="mobile_no"
                />
                <label for="mobile" class="">Mobile No.</label>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input
                  type="text"
                  id="mobile"
                  name="mobile"
                  class="form-control"
                  placeholder=""
                  [(ngModel)]="tel_no"
                />
                <label for="mobile" class="">Telephone No.</label>
              </div>
            </div>
          </div>

          <div class="row my-4">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input
                  type="text"
                  id="destination"
                  name="destination"
                  class="form-control"
                  placeholder="Enter your destination"
                  [(ngModel)]="destination"
                />
                <label for="destination" class="">Destination</label>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col">
              <div class="md-form mb-0">
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="departure_date"
                  id="departure_date"
                  name="departure_date"
                />
                <label for="birthdaytime" class="">Departure Date</label>
              </div>
            </div>
            <div class="col">
              <div class="md-form mb-0">
                <input
                  type="date"
                  [(ngModel)]="return_date"
                  class="form-control"
                  id="return_date"
                  name="return_date"
                />
                <label for="return_date" class="">Return Date*</label>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col">
              <div class="md-form mb-0">
                <!-- select no person checkkin -->

                <input
                  type="number"
                  id="adult"
                  name="adult"
                  class="form-control"
                  placeholder="Enter No. of Adults"
                  [max]="max"
                  (input)="onChange()"
                  autocomplete="off"
                  [(ngModel)]="adult"
                  min="0"
                />
                <label for="adult" class="text-muted">Adult (12+)</label>

                
              </div>
            </div>
            <div class="col">
              <div class="md-form mb-0">
                <input
                  type="number"
                  id="child"
                  name="child"
                  class="form-control"
                  placeholder="Enter No. of Child"
                  [max]="maxChild"
                  min="0"
                  (input)="onChange()"
                  autocomplete="off"
                  [(ngModel)]="child"
                />
                <label for="child" class="text-muted">Child (2-11)</label>
              </div>
            </div>
            <div class="col">
              <div class="md-form mb-0">
                <input
                  type="number"
                  id="infants"
                  name="infants"
                  class="form-control"
                  placeholder="Enter No. of Infants"
                  [max]="maxChild"
                  min="0"
                  [(ngModel)]="infants"
                />
                <label for="infants" class="text-muted">Infant</label>
              </div>
            </div>
          </div>

          <div class="row my-4">
            <div class="col-md-12">
              <div class="md-form">
                <textarea
                  type="text"
                  id="message"
                  name="message"
                  [(ngModel)]="messages"
                  rows="2"
                  class="form-control md-textarea"
                ></textarea>
                <label for="message">Your message</label>
              </div>
            </div>
          </div>
        </form>

        <div class="text-md-left">
          <button (click)="addToCart()" type="submit" class="btn cstm-btn">
            Submit
          </button>
        </div>
        <div class="status"></div>
      </div>

      <div class="col-md-3 text-center">

        <img src="assets/wonders/xxxxxx.png" height="auto" width="300px" alt="">
        <h4 class="h4-responsive my-3">Address and contact</h4>
        <ul class="list-unstyled mb-0">
          <li>
            <i class="uil uil-map-pin-alt"></i>
            <p>
              Unit 3 ADEE Bldg Purok 1, Brgy. Bolbok Batangas City 4200
              Philippines
            </p>
          </li>

          <li>
            <i class="uil uil-phone"></i>
            <p>0915 780 0776 / 0929 262 0985</p>
          </li>

          <li>
            <i class="uil uil-at"></i>
            <p><a href="">reservations@365wonders.com</a></p>
          </li>
        </ul>
        <div class="text-wrapper mt-5" style="text-align: left">
          <strong>Note:</strong>
          <p class="w-responsive mx-auto">
            Once we receive the filled form, we will contact you shortly to
            confirm booking.
          </p>
          <p class="w-responsive mx-auto">
            If you did not receive a confirmation email, please contact us in
            our <a href="tel:+63-915-780-0776">contact number </a> or email us
            at our <a href="reservations@365wonders.com">email.</a>
          </p>
        </div>

        

      </div>
    </div>
  </div>

  <app-tilt-bottom></app-tilt-bottom>
</section>

<app-footer></app-footer>
