section{
    // padding-top: 5em;
    padding-bottom: 5em;
    min-height: 100vh;
    position: relative;
    overflow: auto;
    background-color: white;
    .book-header{
        background-image: linear-gradient(rgba(37, 37, 37, 0.308),rgba(37, 37, 37, 0.308)), url('/assets/wonders/bg3.jpg') ;
    
        background-size: cover;
        background-position: center;
        background-position-y:-300px ;
        background-repeat: no-repeat;

        
        background-attachment: fixed;
        height: 400px;
        display: grid;
        place-items: center;
        h1{
            font-size: 4.3rem;
            font-family: 'Poppins', sans-serif;
            font-weight:900;
            line-height: 1;
            color: #fff;
            position: relative;
            width: max-content;
            z-index: 1;



        }



    }
}

.bg-image{
    position: absolute;
    bottom: 0;
    left: 0;
    
    z-index: -1;
    opacity: .1;
    filter: blur(9px);
    
    
}


select,input,textarea{
    background-color: #f1f3f3;
    border: .5px solid #e7e7e7;
    outline: #b90000;
 
}
label{
    position: relative;
}

label::after{
    content: "*";
    color: red;
    font-size: .8em;
    position: absolute;
    font-weight: 600;
}
li{
    display: flex;
    gap: 10px;
    
    align-items: center;
    p{
        margin: 0;
        padding: 0;
    }
}

i{
    color:red;
    font-size: 1.6rem;
    font-weight: 900;
}


.cstm-btn{
    background-color: #fd030f;
    color: white;
    border: none;
    font-size: 1rem;
    padding: .7em;
    width: 200px;
    border-radius: 50px;
    transition: all 0.3s ease-out 0s;
    float: right;


    &:hover{
        background-color: #b90000;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }





.blur.open{
    filter: blur(5px);
}


@media (max-width: 768px) {
    section .book-header{
        
        h1{
            font-size: 3rem;
        }
    }
    
}


