<section id="landing">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="banner-text" data-aos="fade-up" data-aos-duration="1000">
              <h2>
                Need to <span style="color: var(--red);">talk</span> to us?
              </h2>
              
              <br>
              <button routerLink="/contact-page" class="contact-but">Contact Us</button>
            </div>
          </div>
        </div>
      </div>

</section>