section{
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
    
    background: linear-gradient(rgba(46, 46, 46, 0.582),rgba(0, 0, 0, 0.596)), url('/assets/resort.jpg') ;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    min-height: max-content;



    .banner-text{
        text-align: center;

        h2{
            font-family: 'Poppins', sans-serif;
            color: #fff;
        }


        .contact-but{
            background-color: var(--red);
            color: white;
            padding:.5rem 1.5rem;
            border-radius: 50px;
            text-decoration: none;
        }
    }
}