<section id="landing">
  <!-- <app-tilt-top></app-tilt-top> -->

  <div class="container">
    <div class="sect-header" >
      <h2 class="h2-responsive">Services We Provide</h2>
      <!-- testimonials -->
      <p>
        We provide a wide range of services that will make your trip a
        memorable one.
        
      </p>
      <hr style=" width:100px;border: 5px solid #c01b1e;">

    </div>
 
    <div class="row my-5">
      <div
        class="col text-center flex  my-4"
        
      >
        <div class="services-wrapper" data-aos="fade-up" data-aos-duration="2000"  data-aos-delay="50">
          <img class="services-img" src="./assets/wonders/1.1.png" alt="" />
          <br />
          <br />

          <h2>
            Unique life <br />
            experiences
          </h2>
          <br />
          <p>
            We specialize in offering once in a lifetime experiences that will
            create lasting memories.
          </p>
        </div>
      </div>
      <div
        class="col text-center flex my-4"
        
      >
        <div class="services-wrapper" data-aos="fade-up" data-aos-duration="2000"  data-aos-delay="150">
          <img class="services-img" src="./assets/wonders/2.2.png" alt="" />
          <br />
          <br />

          <h2>
            Personalized 
            <br>trips
          </h2>
          <br />
          <p>
            Travel is different for everyone. We want to make sure that you are getting the most from your trip by crafting the dream vacation that is perfect for you.
          </p>
        </div>
      </div>
      <div
        class="col text-center flex  my-4"
        
      >
        <div class="services-wrapper" data-aos="fade-up" data-aos-duration="2000"  data-aos-delay="250">
          <img class="services-img" src="./assets/wonders/3.3.png" alt="" />
          <br />
          <br />

          <h2>
            Incredible detail <br>
             and services
          </h2>
          <br />
          <p>
            We’ve got your back. In the event something does come up. Our team is here to help make sure your trip is not interrupted.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="section2-footer">
          <a routerLink="/services">See all Services >></a>
        </div>
      </div>
    </div>
  </div>

  <!-- <app-tilt-bottom></app-tilt-bottom> -->

</section>
