<router-outlet></router-outlet>

<div class="fb-customerchat"
     page_id="459373991166357">
</div>



<!-- <div id="fb-root"></div>

  <div id="fb-customer-chat" class="fb-customerchat">
  </div>

  <script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "459373991166357");
    chatbox.setAttribute("attribution", "biz_inbox");
  </script>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v13.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;

      let headers={
        'Content-Type': 'application/json',
        'Access-Control-Allow-Origin': '*',
        'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept'
      }


      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js' ,headers;
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script> -->