<div class="main">
    <div class="page-title d-flex align-items-center">
        
       
       
        <span> / All Posts</span>
    </div>
    <div class="container-fluid">
        <div class="row ">
        
            <div class="col my-3" >
              <div class="card w-100 " style="position: relative;">
                  
                    
                    <div class="crd-body">
                        
                    </div>
    
                </div>
            </div>
          </div>
    </div>


</div>