<div class="main">
  <div class="page-title d-flex align-items-center">
    <span>Dashboard / Manage Posts / All Posts</span>
  </div> 
  <div class="container-fluid">
    <div class="row">
      <div class="col my-3">
        <div class="card w-100" style="position: relative">
          <div class="crd-body">
            <div class="search">
              <div class="left d-flex align-items-center gap-3">
                <button class="btn btn-primary">
                  <i class="uil uil-filter"></i>
                </button>

                <div class="input-icon d-flex align-items-center">
                  <i class="uil uil-search"></i>

                  <input type="text" placeholder="Search" (keyup)="search()" name="search" [(ngModel)]="searchResult" />
                </div>
              </div>
              <div class="right">
                <div class="buttons d-flex align-items-center gap-4">
                  <button class="btn btn-success" (click)="redirectToAdd()">
                    <i class="uil uil-plus-circle"></i>

                    Add Post
                  </button>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <h3 style="color: rgb(117, 117, 117);">Posts</h3>
    </div>

    <div class="row my-2" *ngFor="let tour of tours">
        <div class="col">
            <div class="card w-100" >
                <div class="crd-body">
                    <div class="post-container">
                        <div class="post-left d-flex">
                            <div class="img">
                                <img src="{{tour.image}}" height="100%" width="200px"  alt="">
                                
                            </div>
                            <div class="text-wrapper" style="margin-left: 2em;">
                                <p><i class="uil uil-location-point text-danger"></i>Destination: Laguna</p>
                                <h5 class="h5-responsive">
                                    {{tour.title}}
                                </h5>
                                <p>Ratings: {{tour.rating}}</p>
                               
                                <p> {{tour.description}}</p>


                                <button type="button" class="btn btn-primary" (click)="singlePost(tour.id)" data-bs-toggle="modal" data-bs-target="#editPost">View all Details</button>
    
                            </div>

                        </div>
                        
                        <div class="costs" style="margin-right: 2em;">
                            <p><i class="uil uil-receipt text-danger"></i>from <strong>{{tour.price}}</strong> </p>
                            <p><i class="uil uil-clock text-danger"></i>{{tour.days}}</p>
                            
                            <p><i class="uil uil-telegram-alt text-danger"></i>{{tour.category}}</p>

                        </div>
                    </div>
                </div>


                <div class="action-btns">
                    <div class="left my-2">
                        <button id="edit" (click)="singlePost(tour.id)" data-bs-toggle="modal" data-bs-target="#editPost" class="btn btn-primary edit">
                            <i class="uil uil-edit"></i>
                    
                        </button>
                    </div>
                    <div class="right">
                        <button id="delete" (click)="deletePost(tour.id)" class="btn btn-danger delete">
                            <i class="uil uil-trash-alt"></i>
                       
                        </button>
                    </div>
                </div>




            </div>

        </div>

    </div>





  </div>
</div>




<div class="modal fade" id="editPost" tabindex="-1" aria-labelledby="editPost" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col mb-md-0 mb-5">
                <div class="card p-4">
                  <form id="contact-form" name="contact-form">
                    <div class="row my-2">
                      <div class="col-md-6">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="title"
                            name="title"
                            class="form-control capitalize"
                            [(ngModel)]="title"
                          />
                          <label for="title" class="label">Title</label>
                        </div>
                      </div>
                      <br />
                      <br />
        
                      <br />
        
                      <div class="col-md-6">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="price"
                            name="price"
                            class="form-control capitalize"
                            value="Php "
                            [(ngModel)]="price"
                          />
                          <label for="price" class="">Price</label>
                        </div>
                      </div>
                    </div>
        
                    <div class="row my-2">
                      <div class="col-md-3">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="location"
                            name="location"
                            class="form-control capitalize"
                            [(ngModel)]="location"
                          />
                          <label for="location" class="">Location</label>
                        </div>
                      </div>
                    </div>
        
                    <div class="row my-2">
                      <div class="col-md-3">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="days"
                            name="days"
                            class="form-control capitalize"
                            [(ngModel)]="days"
                          />
                          <label for="days" class="">Days</label>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="people"
                            name="people"
                            class="form-control capitalize"
                            [(ngModel)]="people"
                          />
                          <label for="people" class="">Max People</label>
                        </div>
                      </div>
                    </div>
                    <div class="row my-2">
                      <div class="col-md-3">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="departure"
                            name="departure"
                            class="form-control capitalize"
                            [(ngModel)]="departure"
                          />
                          <label for="departure" class="">Promo Start</label>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="return"
                            name="return"
                            class="form-control capitalize"
                            [(ngModel)]="return"
                          />
                          <label for="return" class="">Promo Ends</label>
                        </div>
                      </div>
                    </div>
                    <div class="row my-2">
                      <div class="col-md-3">
                        <div class="md-form">
                          <select
                            name="category"
                            [(ngModel)]="category"
                            class="form-select capitalize"
                            id="category"
                          >
                            <option value="" selected>Choose</option>
                            <option value="local">Local</option>
        
                            <option value="international">International</option>
                          </select>
                          <label for="message">Category</label>
                        </div>
                      </div>
                    </div>
                    <div class="row my-2">
                      <div class="col-md-12">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="image"
                            name="image"
                            class="form-control"
                            [(ngModel)]="image"
        
                          />
                          <label for="image" class=""
                            >Image
                            <span class="text-muted">(Provide the image url)</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row my-2">
                      <div class="col-md-12">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="facebookpost"
                            name="facebookpost"
                            class="form-control"
                            [(ngModel)]="facebookpost"
                          />
                          <label for="facebookpost" class=""
                            >Social Media Post
                            <span class="text-muted">(Provide the post url)</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row my-2">
                      <div class="col-md-12">
                        <div class="md-form">
                          <textarea
                            type="text"
                            id="description"
                            name="description"
                            rows="3"
                            class="form-control md-textarea capitalize"
                            [(ngModel)]="description"
                          ></textarea>
                          <label for="description">Description</label>
                        </div>
                      </div>
                    </div>
        
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="updatePost()" type="button" data-bs-dismiss="modal" class="btn btn-primary">
            Save Changes
          </button>
        </div>
      </div>
    </div>
</div>



<div class="modal fade" id="details" tabindex="-1" aria-labelledby="details" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>