<section id="landing">
  <!-- <app-tilt-top></app-tilt-top> -->
  
    <div class="container">
        <div class="sect-header">
          <h2>We are Travel Agency</h2>
          <p>
            Check out our best Promotion tours <a routerLink="/tours">here.</a>
          </p>
        <hr  style=" width:100px;border: 5px solid #c01b1e;">

        </div>
        
        
            
        
            <div class="row my-5">
              
              <div class="col-md-6">
                <div class="about-text" data-aos="fade-right" data-aos-duration="2000">
                    <br>
                  
                    <img src="/assets/wonders/xxxxxx.png" height="auto" width="70%" alt="">
                  
                  <hr style=" width:100px;border: 5px solid #c01b1e;">
                  <p>
                    Dynamically drive alternative channels for granular paradigms. Holisticly benchmark granular collaboration and idea-sharing before visionary solutions.
                  </p>
                  <p>
                    Accredited of Department of Tourism (DOT), Tourism Promotion Board Philippines (TPB PHL), Tourism Congress of the Philippines (TCP), Provincial Tourism and Cultural Affairs Office (PTCAO) & Batangas Province Travel and Tours Association (BAPTTA) 
                  </p>
                  <img class="accre" src="./assets/wonders/xxxxxxx11.png"  width="auto" alt="">
                  <br>
                  <br>

                  <br>

              
                  <!-- <p>Our agents have been recognized as among the most talented in the travel industry, and excel in creating one of a kind vacations and destination events that offer truly breathtaking experiences at an affordable cost. </p> -->
                </div>

              </div>
              <div class="col-md-6 my-5"data-aos="fade-left" data-aos-duration="2000" data-aos-delay="200">
                <div class="about-img " >
                  <img class="image" src="./assets/travel_bg.jpg" width="100%" alt="" />
                </div>
              </div>
            </div>
        
    </div>

    <app-tilt-bottom></app-tilt-bottom>

</section>