<section class="connect">
  <div class="custom-shape-divider-top-1649160019">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
</div>
  <div class="container">
    <div class="row">
      <div class="col">
        <iframe data-aos="fade-right" data-aos-duration="2000" data-aos-delay="300" class="frame" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Ftravelby365wonders%2Fvideos%2F621027739036960%2F&show_text=true&width=560&t=0" width="560" height="529" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
     
      </div>
      <div class="col">

        <div class="text-wrapper">
            <h1 class="h1-responsive" data-aos="fade-down" data-aos-duration="2000" >
                Stay <br> 
            </h1>
            <h1 class="txt-bold" data-aos="fade-up" data-aos-duration="2000"  data-aos-delay="50"><span >Updated!</span> </h1>

            <p data-aos="fade-up" data-aos-duration="2000"  data-aos-delay="50">
                Follow us on <a href="https://www.facebook.com/travelby365wonders/?ref=page_internal" target="_blank">Facebook</a>  to stay up to date with our latest news and events.
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1649160036">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
</div>
</section>
