.sect{
    padding-top: 1em;
    padding-bottom: 1em;
   
    background-color: red;
    color: white;
    display: grid;
    place-items: center;
    font-family: var(--raleway);


    h1{
        
        color: #fff;
        font-weight: 500;
        position: relative;
        width: max-content;
    }

    h1::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        height: 2px;
        background-color: #fff;
        
    }

    
}

.wrapper.open{
    filter: blur(5px);
}


.phone{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;
    z-index: 1;


    svg{
        float: left;
        width:90px;
        height:90px;


        .phone-svg{
            fill: var(--red);
            width: 100px;
            height: 100px;
            transition: .5s;

            
        }

        &:hover{
            .phone-svg{
                
                transform: translateY(-5px);

    
                
            }
        }
    }
    svg:before{
        content:attr(data-tooltip);
        position: absolute;
        top: -30px;
        left: -30px;
    }
    
    
}
@media (max-width: 446px){
    .phone{
        svg{
            width: 60px;
            height: 60px;
        }
    }
}