
    <app-header></app-header>


<div class="wrapper " id="blur">
<app-section1></app-section1>
<app-section2 ></app-section2>

<app-search></app-search>


<app-section3></app-section3>
<app-banner></app-banner>
<!-- <section class="sect">
    <h1 class="h1-responsive">About Us</h1>
</section> -->



<app-about-us></app-about-us>
<!-- <section class="sect">
  <h1 class="h1-responsive">Services</h1>
</section> -->


<section class="sect">
    <h1 class="h1-responsive">Why Choose Us</h1>
</section>
<app-background></app-background>

<app-connect></app-connect>


<app-testimonials></app-testimonials>


<app-banner2></app-banner2>
<app-footer></app-footer>

<div class="phone" data-aos="fade-up" data-aos-duration="2000">
 
    <a href="tel:+63-915-780-0776" target="_blank">
        <svg
        data-bs-tooltip="hehe"
        
        viewBox="0 0 99 98"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="phone-icon"
      >
        <g filter="url(#filter0_d_20_8)">
          <ellipse
            cx="49.5"
            cy="45"
            rx="45.5"
            ry="45"
            fill="white"
            fill-opacity="1"
          />
        </g>
        <path
          class="phone-svg"
          d="M38.7917 42.4792C41.7917 48.375 46.625 53.1875 52.5208 56.2083L57.1042 51.625C57.6667 51.0625 58.5 50.875 59.2292 51.125C61.5625 51.8958 64.0833 52.3125 66.6667 52.3125C67.8125 52.3125 68.75 53.25 68.75 54.3958V61.6667C68.75 62.8125 67.8125 63.75 66.6667 63.75C47.1042 63.75 31.25 47.8958 31.25 28.3333C31.25 27.1875 32.1875 26.25 33.3333 26.25H40.625C41.7708 26.25 42.7083 27.1875 42.7083 28.3333C42.7083 30.9375 43.125 33.4375 43.8958 35.7708C44.125 36.5 43.9583 37.3125 43.375 37.8958L38.7917 42.4792Z"
          fill="#CD0E0E"
        />
        <defs>
          <filter
            id="filter0_d_20_8"
            x="0"
            y="0"
            width="99"
            height="98"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="2" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
            />
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow_20_8"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow_20_8"
              result="shape"
            />
          </filter>
        </defs>
      </svg>
        
    </a>

  </div>

</div>


