.main{
    display: flex;

    width: 100%;

    overflow: auto;
    min-height: 100vh;

    .page-container{
        margin-left: 280px;
        position: relative;
    width: 100%;

    }
}


.navbar{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
 
}