<section class="search">
    <div class="container">
        <div class="row">
            <div class="col my-3 text-center">
                <div class="text-wrapper">
                    <h1 class="h1-responsive">
                    Search for your desired Destination


                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col my-3">
                <form action="">
                    <div class="form-group d-flex" style="gap: 2em;">
                        <input type="text" (click)="redirect()"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                        <button class="btn" style="background-color: var(--red); color: white;"> Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>