<div class="login-container animated fadeInDown bootstrap snippets bootdeys">
    <div class="loginbox bg-white ">
        <div class="img-header">
            <img src="/assets/wonders/xxxxxx.png" height="100%" width="60%" alt="">

        </div>
        <div class="loginbox-title ">
            <p>ADMIN LOGIN</p>

        </div>
       
        <div class="line" >
            <hr style=" width:100px;border: 5px solid #f00206;">

        </div>


      

        
        
        
        <div class="loginbox-textbox">
            <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="Email">
        </div>
        <div class="loginbox-textbox">
            <input  name="password" [(ngModel)]="password" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="loginbox-forgot">
            <a href="">Forgot Password?</a>
        </div>
        <div class="loginbox-submit">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Login</button>
        </div>
        <!-- <div class="loginbox-submit">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="signUp()">Sign Up</button>
        </div> -->
       
    </div>
    <div class="logobox">
    </div>
</div>