<div class="loader" *ngIf="isLoading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</div>

<div class="main">
  <div class="page-title d-flex align-items-center">
    <span> Dashboard / Manage Posts / Add Post</span>
  </div>
  <div class="container-fluid">
    <div class="row mt-5">
      <h3 style="color: rgb(117, 117, 117)">Add Posts</h3>
    </div>

    <div class="row">
      <div class="col-md-9 mb-md-0 mb-5">
        <div class="card p-4">
          <form id="contact-form" name="contact-form">
            <div class="row my-2">
              <div class="col-md-6">
                <div class="md-form mb-3">
                  <input
                    type="text"
                    id="title"
                    name="title"
                    class="form-control capitalize"
                    [(ngModel)]="title"
                  />
                  <label for="title" class="label">Title</label>
                </div>
              </div>
              <br />
              <br />

              <br />

              <div class="col-md-6">
                <div class="md-form mb-3">
                  <input
                    type="text"
                    id="price"
                    name="price"
                    class="form-control capitalize"
                    value="Php "
                    [(ngModel)]="price"
                  />
                  <label for="price" class="">Price</label>
                </div>
              </div>
            </div>

            <div class="row my-2">
              <div class="col-md-3">
                <div class="md-form mb-3">
                  <input
                    type="text"
                    id="location"
                    name="location"
                    class="form-control capitalize"
                    [(ngModel)]="location"
                  />
                  <label for="location" class="">Location</label>
                </div>
              </div>
            </div>

            <div class="row my-2">
              <div class="col-md-3">
                <div class="md-form mb-3">
                  <input
                    type="text"
                    id="days"
                    name="days"
                    class="form-control capitalize"
                    [(ngModel)]="days"
                  />
                  <label for="days" class="">Days</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="md-form mb-3">
                  <input
                    type="text"
                    id="people"
                    name="people"
                    class="form-control capitalize"
                    [(ngModel)]="people"
                  />
                  <label for="people" class="">Max People</label>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-3">
                <div class="md-form mb-3">
                  <input
                    type="text"
                    id="departure"
                    name="departure"
                    class="form-control capitalize"
                    [(ngModel)]="departure"
                  />
                  <label for="departure" class="">Promo Start</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="md-form mb-3">
                  <input
                    type="text"
                    id="return"
                    name="return"
                    class="form-control capitalize"
                    [(ngModel)]="return"
                  />
                  <label for="return" class="">Promo Ends</label>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-3">
                <div class="md-form">
                  <select
                    name="category"
                    [(ngModel)]="category"
                    class="form-select capitalize"
                    id="category"
                  >
                    <option value="" selected>Choose</option>
                    <option value="local">Local</option>

                    <option value="international">International</option>
                  </select>
                  <label for="message">Category</label>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-4">
                <div class="md-form mb-3">
                  <input
                    type="file"
                    class="form-control"
                    (change)="fileChange($event)"
                  />
                  <input
                    class="form-control w-20"
                    type="text"
                    placeholder="Select file"
                    disabled
                    hidden
                  />
                  <label for="position">Photo</label>

                  <small class="text-danger" *ngIf="!isFileValid"
                    >Invalid file. Must be (jpeg or png)</small
                  >
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-12">
                <div class="md-form mb-3">
                  <input
                    type="text"
                    id="facebookpost"
                    name="facebookpost"
                    class="form-control"
                    [(ngModel)]="facebookpost"
                  />
                  <label for="facebookpost" class=""
                    >Social Media Post
                    <span class="text-muted">(Provide the post url)</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-12">
                <div class="md-form">
                  <textarea
                    type="text"
                    id="description"
                    name="description"
                    rows="3"
                    class="form-control md-textarea capitalize"
                    [(ngModel)]="description"
                  ></textarea>
                  <label for="description">Description</label>
                </div>
              </div>
            </div>

            <div class="row my-2">
              <div class="col-md-12">
                <div class="md-form">
                  <button
                    (click)="uploadFile($event)"
                    type="button"
                    class="btn btn-primary"
                    [disabled]="!isFileValid || isLoading"
                  >
                    Add post
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
